@{
	ViewData["Title"] = "Index";
}
@model List<GetRequestsVM>

<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700,900" />
<!-- Nucleo Icons -->
<link href="~/TemplateResources/css/nucleo-icons.css" rel="stylesheet" />
<link href="~/TemplateResources/css/nucleo-svg.css" rel="stylesheet" />
<!-- Font Awesome Icons -->
<script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
<!-- Material Icons -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,0,0" />
<!-- CSS Files -->
<link id="pagestyle" href="~/TemplateResources/css/material-dashboard.css?v=3.2.0" rel="stylesheet" />

<div class="container-fluid py-2">
    <div class="row">
        <div class="col-12">
            <div class="card my-4">
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                    <div class="bg-gradient-dark shadow-dark border-radius-lg pt-4 pb-3">
                        <h6 class="text-white text-capitalize ps-3">Tüm Talepler</h6>
                    </div>
                </div>
                <div class="card-body px-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table align-items-center mb-0">
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Talep Oluşturan
                                    </th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                        Birimi/Görevi
                                    </th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Durum
                                    </th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Eklenme Tarihi
                                    </th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Güncellenme Tarihi
                                    </th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Talep Tarihi
                                    </th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                        Güncelle
                                    </th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Sil
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach(var request in Model)
                                {
                                
                                <tr>
                                    <td>
                                        <div class="d-flex px-2 py-1">
                                            
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="mb-0 text-sm">@request.FullName</h6>
                                                <p class="text-xs text-secondary mb-0">
                                                    @request.Email
                                                </p>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <p class="text-xs font-weight-bold mb-0">@request.DepartmentName</p>
                                        <p class="text-xs text-secondary mb-0">
                                            @request.TitleName
                                        </p>
                                    </td>
                                    <td class="align-middle text-center text-sm">
                                        <span class="badge badge-sm bg-gradient-success">@request.Status</span>
                                    </td>
                                    <td class="align-middle text-center">
                                        <span class="text-secondary text-xs font-weight-bold">@request.CreatedDate</span>
                                    </td>
                                        <td class="align-middle text-center">
                                            <span class="text-secondary text-xs font-weight-bold">@request.UpdatedDate</span>
                                        </td>
                                        <td class="align-middle text-center">
                                            <span class="text-secondary text-xs font-weight-bold">@request.RequestDate</span>
                                        </td>
                                    <td class="align-middle">
                                        <a 
                                           class="text-secondary font-weight-bold text-xs"
                                           data-toggle="tooltip"
                                           data-original-title="Edit user"
                                               asp-action="UpdateRequest" asp-route-id="@request.Id">
                                            Güncelle
                                        </a>
                                    </td>
                                        <td class="align-middle">
                                            <a
                                               class="text-secondary font-weight-bold text-xs"
                                               data-toggle="tooltip"
                                               data-original-title="Edit user"
                                               asp-action="DeleteRequest" asp-route-id="@request.Id">
                                                Sil
                                            </a>
                                        </td>
                                </tr>

                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer">
                    <a asp-action="CreateRequest" class="btn btn-outline-dark d-block">Yeni Talep Oluştur</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/TemplateResources/js/core/popper.min.js"></script>
<script src="~/TemplateResources/js/core/bootstrap.min.js"></script>
<script src="~/TemplateResources/js/plugins/perfect-scrollbar.min.js"></script>
<script src="~/TemplateResources/js/plugins/smooth-scrollbar.min.js"></script>
<script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
</script>
<!-- Github buttons -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
<!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
<script src="~/TemplateResources/js/material-dashboard.min.js?v=3.2.0"></script>